.titulo{
	color:@color5;
	font-family: @font-title;
}
.height{
	height: 100%;
}
.displayText{
	background-color: @color1;
	border: solid @color5 5px;
	border-radius: 10px;
}
.autores{
	background: @img-fondo-gif;
}
.descripcion{
	height: 370px;
	background: @img-fondo-gif;
}
.video{
	border: solid @color5 5px;
    border-radius:10px;
}
.Image {
	float: left;
	padding-right: 7px;
	height: 340px;
	width: 40%
}
.bodyTimeSheet{
	background: url(../media/img/fondo.gif);
}  
