//Fonts
@font-title: 'Bungee Inline', cursive;
@font-body: 'Indie Flower', cursive;


//Imagenes
@img-fondo: url(../media/img/fondo.jpg);
@img-fondo-gif: url(../media/img/fondo.gif);

//style="min-width: 100%; background-color: white;"
//Colores
@color1: #0D2FFF;
@color2: #0C56E8;
@color3: #0087FF;
@color4: #04A9E8;
@color5: #0DEAFF;

